* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    margin: 0;
    line-height: 1.4;
  }

  a{
      color: $color-text;
  }
