
.header{
    
  @media screen and (max-width: 800px){
      background: #fff;
    }
  

  &__item:hover{
      transform: scale(1.04);
    }

  &__icon {
    &--menuwrap{
        @media screen and (min-width: 800px) {
        background-color: $color-banner;
        display: none;
        
      }
    }
    
    &--search{
      display: block;
      @media screen and (min-width: 800px) {
        display: none;
      }
    }
  }
}
 /* retourner une image */
.reverse{
  transform: rotateZ(90deg);
}
