@import 'config';
// @import 'utility';


* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-flow: row wrap;
    background-color: $main-color;
    padding: 0 1rem;
    height: 90px;
    width: 100%;
    align-items: center;

    border: $border;

    .logo{
        display: block;
        margin-top: 10px;
        margin-bottom: 80px;
        margin-left: 30px;
        height: 90px;               
        transform: scale(0.80);
        outline: none;
        
    flex-flow: row wrap;
    }
    
    nav{

        ul{
            font-size: 12px;
            font-weight: bold;
            display: flex;
            margin-bottom: 110px;
            margin-left: 1rem;
            padding-left: 80px ;
            li{
                display: flex;
                padding: 13px;
            }

            a {
                color: $text-color;
                text-decoration: none;
            }

            a:hover {
                transform: scale(1.04);
            }
        } 

        display: none;
        
        @media screen and (min-width: 968px){
            display: flex;
            flex: 2;
        }
    }

    #search{
        input{
            margin-bottom: 100px;
            border-radius: 15px;
            outline: none;
            width: 200px;
            border: none;
            height: 30px;
            text-indent: 15px;
            
            &::placeholder{
                opacity: 0.4;
                background: #fff url(../homepage/thumbnail/search-outline.svg) no-repeat 9px center;
                background-position: right;
            }
        }
    }

    aside{
        margin-left: auto;
    }

    .header-icons{
        .icons{
            justify-content: flex-end;
            margin-bottom: 100px;
            li{
                display: inline-block;
                height: 24px;
                width: 24px;
                margin-left: 0.8rem;
            }
        }
    }

}





    
    @media screen and (min-width: 768px){
        #menu-btn{
            display: none;
        }
    }

