@import 'config';
// @import 'utility';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container{
    width:100%;
    margin:auto;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
}




header{
    .topnav{

        background-color: $main-color;
        width: 100%;
        
        .logo{
            padding: 40px;
            line-height: 90px;
            margin-top: 20px;
        }
        
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 90px;

        
            ul{
                font-size: 16px;
                display: flex;
                width: auto;
                justify-content: space-between;

                
                li{
                    display: flex;
                    padding: 13px;
                    
                }

                a {
                    color: $text-color;
                    text-decoration: none;
                }

                a:hover {
                    transform: scale(1.04);
                }
            }
        }
        

        .icons-socials{
            float: right;
            margin: 2%;
            transform: scale(0.70);

            a{
                margin: 8px;
            }
        }
    }
    
    input{
        border-radius: 15px;
        width: 200px;
        border: none;
        height: 30px;
        text-indent: 15px;
        background-color: #fff;

        &::placeholder{
            opacity: 0.4;
        }
    }
        
    }




    
    @media screen and (min-width: 768px){
        #menu-btn{
            display: none;
        }
        .topnav nav ul{
            display: none;
        }
    }
